.Dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 272px;
        width: 100%;
        @media (max-width: 375.2px) {
            width: 335px;
        }
        .Topbar{
            background: #FF6060;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-left: 15px;
            padding-right: 15px;
            max-width: 993px;
            height: 52px;
            max-height: 52px;
            @media (max-width: 375.2px) {
                width: 305px;
                height: 30px;
            }
            h2 {
                font-weight: 700;
                font-style: Bold;
                font-size: 24px;
                vertical-align: middle;
                color: white;
                @media (min-width: 375px) and (max-width: 425.2px) {
                        font-size: 13px;
                    }
                    @media (min-width: 426px) and (max-width: 768.2px) {
                        font-size: 14.8px;
                    }
                    @media (min-width: 769px) and (max-width: 1024.2px) {
                        font-size: 16px;
                }
            }
            img {
                width: 32px;
                height: 32px;
                transform-origin: center;
                transition: transform 0.3s ease;
                transform: rotate(0deg);
                cursor: pointer;
                @media (max-width: 375.2px) {
                    width: 16px;
                    height: 9.14px;
                }
                &.rotated {
                    transform: rotate(180deg);
                }
            }
        }
        .Description {
            position: relative;
            max-height: 0;
            max-width: 983px;
            width: 100%;
            overflow: hidden;
            border-radius: 10px 10px 5px 5px;
            background-color: #F6F6F673;
            opacity: 0;
            transition: max-height 0.4s ease, opacity 0.4s ease;
            ul {
                transform: translateY(-100px);
                transition: transform 0.4s ease;
            }
            p{
                font-family: 'Montserrat';
                font-weight: 400;
                font-size: 18px; 
                transform: translateY(-100px);
                transition: transform 0.4s ease;  
                width: 100%; 
                @media (max-width: 375.2px) {
                    font-size: 12px;
                }
                @media (min-width: 376px) and (max-width: 768px) {
                    font-size: 14px;
                    max-width: 597px;
                }
            }
        }
        .Description.active {
            max-height: 272px;
            opacity: 1;
            padding: 16px 20px 20px;
            @media (max-width: 375.2px) {
                max-height: 500px;
            }
            p {
                transform: translateY(0);
            }
            ul {
                transform: translateY(0);
            }
        }
    }
