.home {
    gap: 50px;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    max-width: 1440px;
    min-height: 100vh;
    max-height: 1517px;
}